<%layout('./layout.ejs')%>
<div id="page-wrapper" style="min-height: 360px;">
	<div class="container-fluid">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Users List</h4>
			</div>
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

				<ol class="breadcrumb">
					<li><a href="#">Dashboard</a></li>
				</ol>
			</div>
		</div>
		<!-- /row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="white-box">
					<!-- <p class="text-muted"><a href="userForm">Add new</a></p> -->
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Experts</th>
									
								</tr>
							</thead>
							<tbody>
                <% if(expert.length < 5){
                  var expertLen = expert.length;
                }else{
                  var expertLen = 5;
                } %>
                  <h4>Total Experts: <%= expert.length %></h4> <a href="userList">View All</a>
							<% for(var i=0; i<expertLen; i++) { %>
                  
								<tr>
										<td><%=i+1%></td>
										<td><%=expert[i] %></td>

								</tr>
							
								<% } %>
								
							</tbody>
						</table>
					</div>
				</div>
      </div>
      <div class="col-sm-6">
				<div class="white-box">
					<!-- <p class="text-muted"><a href="userForm">Add new</a></p> -->
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Users</th>
								
								</tr>
							</thead>
							<tbody>
                  <% if(users.length < 5){
                    var userLen = users.length;
                  }else{
                    var userLen = 5;
                  } %>
                  <h4>Total Users: <%= users.length %></h4> <a href="patients">View All</a>
							<% for(var i=0; i<userLen; i++) { %>
               
								<tr>
										<td><%=i+1%></td>
										<td><%=users[i] %></td>
										

								</tr>
								<% } %>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->

		<!-- row -->
		<div class="col-sm-6">
			<div class="white-box">
				<!-- <p class="text-muted"><a href="userForm">Add new</a></p> -->
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Referral Code</th>
								<th>User</th>
								<th># Times Used</th>
							</tr>
						</thead>
						<tbody>
							<%
							report.filter(x => x.count > 0).sort((a, b) => b.count - a.count).map((val, idx) => {
							%>
							<tr>
								<td><%= val.code %></td>
								<td><%= val.name %></td>
								<td align="right"><%= val.count %></td>
							</tr>
							<%
							})
							%>
						</tbody>
					</table>
				</div>
			</div>
  </div>
		<!--/row -->
	</div>
	<!-- /.container-fluid -->

</div>

<!-- jQuery -->
<script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/js/custom.min.js"></script>



</body>
</html>